.wrapper{
    min-width: 130px;
    font-size: 20px;
    font-weight: weight 600px;;
    padding: 7px 16px;
    border-radius: 20px;
    background-color: #fff;
    line-height: 100%;
    cursor: pointer;

    + .wrapper{
        margin-left: 20px
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.primary{
    min-width: 340px;
    height: 48px;
    font-size: 20px;
    font-weight: 600;
    padding-left: auto;
    padding-right: auto;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--green-light);
    color: #fff;

    &:hover{
        background-color: var(--green-dark)
    }
}

.text{
    min-width: 0px;
    padding: 7px 16px;
    font-size: 15px;
    font-weight: 600;
    &:hover{
        background-color: rgba(0, 0, 0, 0.07);
        
    }
}

//Button size
.medium{
    min-width: 100px;
    padding: 11px 16px;
}