.wrapper {
  display: flex;
  margin-top: 56px;
  flex-direction: column;
}

.search-img {
  position: relative;
}

.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
