/* Global */
p {
  margin: 0;
}
/* Global */

/* Banner Css */
.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit !important;
  color: currentColor !important;
}

.ant-carousel .slick-prev {
  /* left: 10px !important; */
  z-index: 2 !important;
  color: #000 !important;
}

.ant-carousel .slick-next {
  /* right: 10px !important;  */
  z-index: 2 !important;
  color: #000 !important;
}

body .slick-prev::before,
body .slick-next::before {
  display: none;
}
/* Banner Css */

/* Start Rate CSS */
.ant-rate-star-second {
  color: #b9bfcd;
}

.ant-rate {
  color: var(--green-light);
}

.ant-rate-star:not(:last-child) {
  margin-right: 2px;
}
/* Start Rate CSS */


/* Modal CSS */
.ant-modal-body{
  height: 500px;
  border-top: 1px solid #f0f0f0; ;
  /* overflow: hidden;
  overflow-y: auto; */
}

.ant-modal-header {
  border-bottom: none ;
}

/* Modal CSS */

/* CheckBox CSS */
.ant-checkbox-wrapper{
  font-size: 1.6rem;
}

.ant-checkbox-group-item{
  margin-right: 0;
  margin-top: 4px;
}

.ant-checkbox-inner{
  border: 1px solid #000;
}
/* CheckBox CSS */

/* Slider CSS */
.ant-slider-handle{
  border: 2px solid #91d5ff !important;
}

.ant-slider-rail{
  background-color: #ccc;
}

/* Slider CSS */